<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

<link rel="stylesheet" type="text/css" href="index.css">

<h1>Hej <%=name%>! Velkommen til siden </h1>

<form action = "/" method="POST"> 
<h2> Tilføj den varer, som du ønsker at sælge: </h2>
<div class="udfyld">
<div>
    <label for="pris">Angiv Pris</label>
    <input class="Skriv info" type="text" id="pris" name="pris" required>
</div>
<div>
    <label for="kategori">Vælg Kategori</label>
    <input class="Skriv info" type="text" id="kategori" name="kategori" required>
</div>
<div>
    <label for="beskrivelse">Tilføj en beskrivelse af din vare</label>
    <input class="Skriv info" type="text" id="beskrivelse" name="beskrivelse" required>
</div>
<div>
    <label for="img"> Tilføj et billede af din vare </label>
    <input type="file" id="billede" name="billede" accept="image/*" required>
</div>
<form action="/varer">
    <button type = "submit">Tilføj din vare </button>
</form>
<a href ="/varer" > Vis varer </a>
</div>

<div class = "all-index">
<form action="/opdatervarer?_method=PUT" method="POST">
    <button class="btn btn-primary" type="submit">Opdater dine varer</button>
</form>

<form action="/varer?_method=DELETE" method="POST">
    <button class="btn btn-primary" type="submit" >Slet din vare</button>
    </form>
    
<form action="/?_method=DELETE" method="POST">
<button class="btn btn-primary" type="submit" >Slet din profil</button>
</form>

<form action="/logout?_method=DELETE" method="POST">
<button class="btn btn-primary" type="submit">Log Out</button>
</form>

<form action="/opdaterprofil?_method=PUT" method="POST">
<button class="btn btn-primary" type="submit">Opdater din profil</button>
</form>
</div>

<% varer.forEach(function(allVarer) { %>
    <a href="/kategori/<%=allVarer.kategori%>"><%= allVarer.kategori %></a>
<% }) %>