<link rel="stylesheet" href="index.css">

<h1>Hej <%=name%>! Velkommen til siden </h1>

<form action="/?_method=DELETE" method="POST">
<button type="submit" >Slet din profil</button>
</form>

<form action="/logout?_method=DELETE" method="POST">
<button type="submit">Log Out</button>
</form>

<form action="/opdaterprofil?_method=PUT" method="POST">
<button type="submit">Opdater din profil</button>
</form>



