
body {
    background-color: #28C76F;
    color: black;
}
h1{
    text-align: center;
    font-size: 60;
    font-style:initial;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-optical-sizing:unset;
}

form {
        height: 10em;
        display: flex;
        align-items: center;
        justify-content: center 
    }
    