<link rel="stylesheet" href="opdaterprofil.css">
<h1> Opdater din profil </h1>
<div>
<form action = "/opdaterprofil?_method=PUT" method="POST"> 
<div>
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required>
</div>
<div>
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>
</div>
<div>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>
</div>
<button type = "submit">Opdater</button>
<a href ="/" > Hjem </a>
</form>
</div>