<link rel="stylesheet" href="opretprofil.css">
<h1> Opret en bruger </h1>
<form action = "/opretprofil" method="POST"> 
<div>
    <label for="name">Navn:</label>
    <input type="text" id="name" name="name" required>
</div>
<div>
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>
</div>
<div>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>
</div>

<button type = "submit"> Opret profil </button>

<a href ="/login"> Login </a>
</body>

